In [1]:
import QUANTAXIS as QA

In [2]:
user= QA.QA_User()

In [3]:
user.subscribe_strategy('s1_jm',1)
user.subscribe_strategy('s1_j',2)
user.subscribe_strategy('s1_rb',4)

(True, '3f2424a9-1b0d-11e9-b891-9cb6d020b9c2')

In [4]:
import pandas as pd

In [5]:
user.subscribed_strategy

,end,lasttime,start,status,strategy_id,uuid
0,2019-01-21,1,2019-01-18,running,s1_jm,3f23fc64-1b0d-11e9-83f3-9cb6d020b9c2
1,2019-01-22,2,2019-01-18,running,s1_j,3f2424a8-1b0d-11e9-a32e-9cb6d020b9c2
2,2019-01-24,4,2019-01-18,running,s1_rb,3f2424a9-1b0d-11e9-b891-9cb6d020b9c2

In [6]:
user.coins_table

,cost_coins,strategy_id,start,last,strategy_uuid,event
0,10,s1_jm,2019-01-18,1,d19aacf0-1b0c-11e9-bcfa-9cb6d020b9c2,subscribe
1,10,s1_j,2019-01-18,2,d19aacf1-1b0c-11e9-9522-9cb6d020b9c2,subscribe
2,10,s1_rb,2019-01-18,4,d19aacf2-1b0c-11e9-b37e-9cb6d020b9c2,subscribe
3,0,s1_jm,2019-01-18,0,d1a3eb54-1b0c-11e9-809a-9cb6d020b9c2,unsubscribe
4,10,s1_jm,2019-01-18,1,3f23fc64-1b0d-11e9-83f3-9cb6d020b9c2,subscribe
5,10,s1_j,2019-01-18,2,3f2424a8-1b0d-11e9-a32e-9cb6d020b9c2,subscribe
6,10,s1_rb,2019-01-18,4,3f2424a9-1b0d-11e9-b891-9cb6d020b9c2,subscribe

In [7]:
user.coins

9940

In [8]:
user.unsubscribe_stratgy('s1_jm')

In [9]:
user.subscribed_strategy

,end,lasttime,start,status,strategy_id,uuid
0,2019-01-21,1,2019-01-18,canceled,s1_jm,3f23fc64-1b0d-11e9-83f3-9cb6d020b9c2
1,2019-01-22,2,2019-01-18,running,s1_j,3f2424a8-1b0d-11e9-a32e-9cb6d020b9c2
2,2019-01-24,4,2019-01-18,running,s1_rb,3f2424a9-1b0d-11e9-b891-9cb6d020b9c2

In [10]:
user.coins_table

,cost_coins,strategy_id,start,last,strategy_uuid,event
0,10,s1_jm,2019-01-18,1,d19aacf0-1b0c-11e9-bcfa-9cb6d020b9c2,subscribe
1,10,s1_j,2019-01-18,2,d19aacf1-1b0c-11e9-9522-9cb6d020b9c2,subscribe
2,10,s1_rb,2019-01-18,4,d19aacf2-1b0c-11e9-b37e-9cb6d020b9c2,subscribe
3,0,s1_jm,2019-01-18,0,d1a3eb54-1b0c-11e9-809a-9cb6d020b9c2,unsubscribe
4,10,s1_jm,2019-01-18,1,3f23fc64-1b0d-11e9-83f3-9cb6d020b9c2,subscribe
5,10,s1_j,2019-01-18,2,3f2424a8-1b0d-11e9-a32e-9cb6d020b9c2,subscribe
6,10,s1_rb,2019-01-18,4,3f2424a9-1b0d-11e9-b891-9cb6d020b9c2,subscribe
7,0,s1_jm,2019-01-18,0,3f2f9c58-1b0d-11e9-b29e-9cb6d020b9c2,unsubscribe

In [11]:
import datetime

In [12]:
#pd.Timestamp('2018-11-05')-pd.Timestamp('2018-11-10')>datetime.timedelta(days=0)

In [13]:
user.subscribing_strategy

,end,lasttime,start,status,strategy_id,uuid,remains
1,2019-01-22,2,2019-01-18,running,s1_j,3f2424a8-1b0d-11e9-a32e-9cb6d020b9c2,4 days
2,2019-01-24,4,2019-01-18,running,s1_rb,3f2424a9-1b0d-11e9-b891-9cb6d020b9c2,6 days

In [14]:
user.subscribed_strategy

,end,lasttime,start,status,strategy_id,uuid
0,2019-01-21,1,2019-01-18,canceled,s1_jm,3f23fc64-1b0d-11e9-83f3-9cb6d020b9c2
1,2019-01-22,2,2019-01-18,running,s1_j,3f2424a8-1b0d-11e9-a32e-9cb6d020b9c2
2,2019-01-24,4,2019-01-18,running,s1_rb,3f2424a9-1b0d-11e9-b891-9cb6d020b9c2

# 账户的同步和更新

QA_User在初始化的时候会自动同步数据库, 更新自己

In [15]:
user1=QA.QA_User(username='admin',password='admin')

In [16]:
user1.sync()

< QA_USER USER_a41s8LNl with 0 portfolio: {} >

In [17]:
user1.message

{'user_cookie': 'USER_a41s8LNl',
 'username': 'admin',
 'password': 'admin',
 'phone': '18626855195',
 'level': 'l1',
 'utype': 'guests',
 'coins': 10000,
 'coins_history': [],
 'money': 100000,
 'subuscribed_strategy': {},
 'subscribed_code': []}

In [22]:
user1.money=200000

In [23]:
user1.save()

In [24]:
user1.message

{'user_cookie': 'USER_a41s8LNl',
 'username': 'admin',
 'password': 'admin',
 'phone': '18626855195',
 'level': 'l1',
 'utype': 'guests',
 'coins': 10000,
 'coins_history': [],
 'money': 200000,
 'subuscribed_strategy': {},
 'subscribed_code': []}

In [25]:
QA.QA_User(username='admin',password='admin').message

{'user_cookie': 'USER_e2o0TdQV',
 'username': 'admin',
 'password': 'admin',
 'phone': '18626855195',
 'level': 'l1',
 'utype': 'guests',
 'coins': 10000,
 'coins_history': [],
 'money': 200000,
 'subuscribed_strategy': {},
 'subscribed_code': []}